<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capture Camera</title>
</head>
<body>
  <div class="diy-container">
    <div class="diy-container-left">
      <header class="menu menu-nav">
        <div class="menu-item">
          <a href="/" class="btn btn-link">back home</a>
        </div>
        <div class="menu-item">
          <a id="open-camera" class="btn btn-link">open camera</a>
          <a id="close-camera" class="btn btn-link">close camera</a>
        </div>
      </header>
    </div>

    <div class="column">
      <h5 class="hero">camera page</h5>
      <video id="video" autoplay></video>
    </div>
  </div>
</body>
</html>